*.swp
*.swo
include/arc/.gitignore

filecollections/*
!filecollections/README

signalcollections/*
!signalcollections/README

cache/*
!cache/README

endpoints/*
!endpoints/README

pki/certs/*
!pki/certs/README
pki/private/*
!pki/private/README
