html {
	padding: 0;
	margin: 0
}
body {
	font-family: sans-serif;
	font-size: 9pt;
	padding: 0;
	margin: 0;
	background-color: #66c;
	color: white;
}

a {
	text-decoration: underline;
	color: #bbf;
}
a:hover {
	color: #ddf;
}

#body a, #fancybox-outer a {
	color: #66a;
}
#body a:hover, #fancybox-outer a:hover {
	color: #88c;
}

#header, #footer {
	border-width: 1px;
	border-color: #999;
	padding: 0.5em;
}

#header {
	padding: 1em;
	text-align: center;
}
#footer {
	font-size: 80%;
	text-align: center;
}

#body {
	background-color: white;
	color: #444;
	border: 3px solid #aac;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 95%;
	margin: 0 auto;
}
#fancybox-outer {
	color: #444;
}

#header h1 {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
#header h1 a {
	text-decoration: none;
	color: inherit;
}
#header h1 a:hover {
	text-decoration: underline;
}

h3 {
	background-color: #77a;
	color: white;
	font-weight: normal;
	padding: 0.2em 0.5em;
	border-bottom: 3px solid #aac;
	-moz-border-radius: 5px 5px 0 0;
}

#body {
	padding: 1em;
	min-width: 768px;
}

dl dt {
	font-weight: bold;
	border-top: 1px solid #ccc;
	padding: 0.3em 0;
	margin-top: 0.3em;
}

dl dt:first-child {
	border-top: none;
	margin-top: 0;
}

dl dl dt {
	font-weight: normal;
	font-size: inherit;
	border-top-color: #ddd;
}

dl dl dl dt {
	border-top-style: dotted;
}

.nodata {
	text-align: center;
	color: #aaa;
}

.barcontainer {
	position: relative;
	height: 100%;
	width: 100%;
}
.bar {
	position: absolute;
	background-color: red;
	height: 100%;
	bottom: 0;
	left: 0;
}
.weight {
	position: relative;
	z-index: 1;
}

.datatable {
	font-size: 75%;
}

table.datatable {
	border-collapse: collapse;
}
table.datatable th, table.datatable td {
	border-width: 1px;
	border-color: #ccc;
	border-style: none solid solid;
}
table.datatable td {
	border-style: none solid;
}

.expandlink {
	height: 22px;
	width: 22px;
	float: left;
	position: relative;
	top: -2px;
	background-image: url("../images/expand.png");
}

.serieslist {
	float: right;
	margin-left: 1em;
}

.cols {
	display: table-row;
}
.cell {
	display: table-cell;
	padding-left: 1em;
}
.cell:first-child {
	padding: 0;
}

.twocol {
	column-count: 2;
	column-spacing: 2em;
	-moz-column-count: 2;
	-moz-column-spacing: 2em;
	-webkit-column-count: 2;
	-webkit-column-spacing: 2em;
}

.hint {
	color: #888;
	font-size: 85%;
}

#body .hidden {
	display: none;
}

.scroll {
	width: 100%;
	overflow: auto;
}
#scrollleft, #scrollright {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 50%;
	margin-top: -15px;
	text-align: center;
	z-index: 1;
}
#scrollleft {
	left: 0;
	background-image: url("fancybox/fancy_nav_left.png");
}
#scrollright {
	right: 0;
	background-image: url("fancybox/fancy_nav_right.png");
}

#showfeedbackform {
	position: fixed;
	top: 0;
	right: 5px;
	padding: 0.5em;
	border: 2px solid #aac;
	border-style: none solid solid;
	-webkit-left-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	background-color: #ccf;
	font-size: 90%;
}

#successalert {
	border: 2px solid #ada;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color: #cfc;
	padding: 1em;
	width: 50%;
	position: fixed;
	z-index: 5000;
	left: 25%;
	top: 15%;
	text-align: center;
	font-weight: bold;
	color: black;
}

img {
	border: none;
}

ul, ol {
	margin: 0;
	padding: 0 1.5em;
}

#iewarning {
	background-color: #fdd;
	padding: 1em;
	width: 75%;
	margin: 0.5em auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}
